# Database Configuration
DATABASE_USER=memobase
DATABASE_PASSWORD=memobase123
DATABASE_NAME=memobase
DATABASE_EXPORT_PORT=5432
DATABASE_LOCATION=./data/db

# Redis Configuration
REDIS_EXPORT_PORT=6379
REDIS_LOCATION=./data/redis
REDIS_PASSWORD=redis123

# Memobase API Configuration
ACCESS_TOKEN=secret
PROJECT_ID=default
API_HOSTS=*
USE_CORS=true
API_EXPORT_PORT=8019

# Config File Path
CONFIG_FILE=./config.yaml

